<!DOCTYPE html>
<html>
<head>
    <style>
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>

<h1>Server Monitoring</h1>
<table>
    <thead>
        <tr>
            <th>Server ID</th>
            <th>Name</th>
            <th>CPU</th>
            <th>Memory</th>
            <th>Disk</th>
            <th>Status</th>
            <th>Time</th>
        </tr>
    </thead>

    <tbody id="serverData">
    </tbody>
</table>

<div id="output"></div>

<div id="lastupdated"></div>


<script>
function loadServerData(){
    fetch("/data")
        .then(response => response.json())
        .then(data => {
        let lastUpdatedTime = data[data.length -1].time;
        document.getElementById("lastupdated").textContent = "Last Updated: " + lastUpdatedTime;
        document.getElementById("serverData").textContent = '';
        for (let server of data) {
            

            let row = document.createElement("tr");

            let idCell = document.createElement("td");
            idCell.textContent = server.id || "";
            row.appendChild(idCell);

            let nameCell = document.createElement("td");
            nameCell.textContent = server.name || "";
            row.appendChild(nameCell);

            let cpuCell = document.createElement("td");
            cpuCell.textContent = server.cpu || " ";
            row.appendChild(cpuCell);

            let memoryCell = document.createElement("td");
            memoryCell.textContent = server.memory || " ";
            row.appendChild(memoryCell);

            let diskCell = document.createElement("td");
            diskCell.textContent = server.disk || " ";
            row.appendChild(diskCell);

            let statusCell = document.createElement("td");
            statusCell.textContent = server.status || "";
            row.appendChild(statusCell);

            let timeCell = document.createElement("td");
            timeCell.textContent = server.time || "";
            row.appendChild(timeCell);

            document.getElementById("serverData").appendChild(row);
        }   
        
        

        });    
}

loadServerData();


setInterval(function() {
    loadServerData();
}, 5000);


</script>

</body>

</html>